<ion-content>
  <img class="buttonBack" src="assets/imgs/chevron_dark.png" (click)="backPage()">

  <div>
    <ion-item>
      <ion-label>Bouton inutile</ion-label>
      <ion-toggle enabled checked="false" (ionChange)="boutonInutile()"></ion-toggle>
    </ion-item>

    <h3 *ngIf="countEmptyPlayer()">
      Listes des joueurs :
    </h3>
    <div *ngFor="let player of playerList">
      <p *ngIf="player.name != ''">
        <b>Joueur {{player.id}} :</b> {{player.name}}
      </p>
    </div>

    <hr>
    <p>
      Lico App est développée par la Lico Team :
      <br/>
      <br/> Lisa Anthonioz
      <br/> Gauthier Le Bagousse
      <br/> Loona Rivière
      <br/> Titouan Sola
      <br/>
      <br/>
    </p>

    <h3>Abonnez-vous à la chaîne de Canaab !</h3>
  </div>

</ion-content>