page-settings {
    .content {
        color: #d34491;
        text-align: center;
        margin-top: 24px;
    }

    .buttonBack {
        float: left;
        // margin-top: 2%;
        // margin-right: 2%;
    }
}
