page-highway {
  .settings {
    float: right;
  }
  .back {
    float: left;
  }

  .head {
    color: #644d59;
    text-align: center;
    font-size: 25px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
  }
  .header::after {
    background-image: none;
  }

  .cards {
    margin-top: 30%;
    display: inline-block;
    margin-left: 3%;
    margin-right: auto;
  }

  .card {
    max-width: 15%;
  }

  .hiddenCard {
    margin-top: 20%;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .bouton {
    margin-bottom: 50%;
  }

  .manche {
    color: #644d59;
    text-align: center;
    font-size: 25px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
  }
}
