<ion-content fullscreen>
  <div class="head">
    <img class="back" src="assets/imgs/chevron_dark.png" (click)="backPage()">
    <ion-chip>
      <ion-label>
        <b>Joueur {{indexJoueur+1}} :</b> {{joueur}}
      </ion-label>
    </ion-chip>
    <img class="settings" src="assets/imgs/settings_dark.png" (click)="settings()">
  </div>
  <div>
    <div class="cards">
      <img class="card" *ngIf="centerCard != chosenCard[0]; else back" src="{{this.imgPath}}{{chosenCard[0].name}}.png" />
      <img class="card" *ngIf="centerCard != chosenCard[1]; else back" src="{{this.imgPath}}{{chosenCard[1].name}}.png" />
      <img class="card" *ngIf="centerCard != chosenCard[2]; else back" src="{{this.imgPath}}{{chosenCard[2].name}}.png" />
      <img class="card" *ngIf="centerCard != chosenCard[3]; else back" src="{{this.imgPath}}{{chosenCard[3].name}}.png" />
      <img class="card" *ngIf="centerCard != chosenCard[4]; else back" src="{{this.imgPath}}{{chosenCard[4].name}}.png" />
      <img class="card" *ngIf="centerCard != chosenCard[5]; else back" src="{{this.imgPath}}{{chosenCard[5].name}}.png" />
    </div>
    <ng-template #back>
      <img class="card" src="{{this.imgPath}}select.png" />
    </ng-template>
  </div>
  <div class="bouton1">
    <button ion-button round (click)="newCard(1)">+</button>
  </div>
  <div class="hiddenCard">
    <img src="{{this.imgPath}}{{centerCard.name}}.png" />
  </div>
  <div class="bouton2">
    <button ion-button round (click)="newCard(0)">-</button>
  </div>
  <div class="manche">
    <b>Manche {{manche}} </b>
  </div>
</ion-content>