page-highway {
  .settings {
    float: right;
    margin-top: 2%;
    margin-right: 2%;
    position: relative;
    z-index: 2;
  }
  .back {
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    position: relative;
    z-index: 2;
  }
  .header::after {
    background-image: none;
  }

  .cards {
    margin-top: 30%;
    display: inline-block;
    margin-left: 3%;
    margin-right: auto;
  }

  .card {
    max-width: 15%;
  }
}
