page-highway {
  .settings {
    float: right;
    margin-top: 2%;
    margin-right: 2%;
    position: relative;
    z-index: 2;
  }
  .back {
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    position: relative;
    z-index: 2;
  }
  .header::after {
    background-image: none;
  }

  .card {
    margin-top: 30%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}
