page-picolo {
  .settings {
    float: right;
  }
  .back {
    float: left;
  }

  .head {
    color: #644d59;
    text-align: center;
    font-size: 25px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
  }
  .header::after {
    background-image: none;
  }

  .card {
    height: 50%;
    font-size: 20px;
    text-align: center;
    padding-top: 60px;
    margin-top: 50px;
    color: black;
    background-color: white;
  }
}
