page-menu {
  .settings {
    float: right;
  }
  .back {
    float: left;
  }

  .head {
    color: #644d59;
    text-align: center;
    font-size: 25px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
  }
  .header::after {
    background-image: none;
  }

  .lico {
    width: 55%;
    margin-top: 12%;
    margin-left: 22%;
    margin-right: 22%;
    position: absolute;
    z-index: 1;
  }

  .grid {
    margin-top: 58%;
    margin-bottom: 50%;
    margin-left: auto;
    padding: 0;
    text-align: center;
    font-size: 180%;
    width: 80%;
  }

  .label {
    margin-top: -8%;
    margin-bottom: -1%;
    color: #644d59;
    font-weight: bold;
  }

  .image {
    margin-top: -10%;
  }

  .texte {
    color: #d34491;
    font-size: 75%;
    margin-top: 22%;
  }
}
